/ve/*
/ScreenMirror/scrcpy-win64/*
.vscode/settings.json
/*/build/*
/*/dist/*
/*/*/build/*
/*/*/dist/*
create project/flutter projectInitializer/flutterproject.spec
/LoginAutomation/*
LoginAutomation/Loginer.py

